  @font-face {
    font-family: "mainFont";
    src: url("../static/afterclap.otf"); 
  }

  @font-face {
    font-family: "bobFont";
    src: url("../static/nineteeth.otf"); 
  }

  body {
    background-color:#ffcc66;
  }

  p, span {
    font-family: ariel;
    font-size: 20px;
    color: #ffcc66;
  }

  .container {
    margin-top: 200px;
  }

  #suggestion{
       border: 5px #ff3300;        
       border-radius: 10px;
       margin-top: -1em;
       min-height: 5em;
       background: white;
       display: none;
  }

  #copyrightText{
    margin-top: 9em;
    font-size: 25px;
    font-weight: bold;
    color:#ff3300;
  }

  h1 {
    font-family: bobFont;
    color: #ff3300;
    margin-top: 10px;
  }
  
  img {
    margin-top: -5em;
  }

  #userInput {
    padding-left: 1em;
    margin-top: 1em;
    font-family: ariel;
    color: black;
    width: 100%;
    height: 40px;
    border: solid;
    border: 20px;
    box-shadow: 5px 5px 8px #666;
    border-radius: 10px;
  }

  #userInput:focus{
    outline: none;
    border: 2px solid #ff3300;
  }

  #recommendedTopics{
    height: 5em;
  }

  .recommendedTopic{
    padding: 0.5em;
    float:left;
    background: #ff3300;
    color: #ffcc66;
    width: 5em;
    max-height: 5em;
    cursor: pointer;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 1em;
    margin-left: 1em;
  }

  #responseText {
    font-size:20px;
    color:#ffcc66;
    word-wrap: break-word;
    margin-top: 35px;
  }

  #inputBtn {
    background: #ff3300;
    display: inline-block;
    padding-top: 0.6em;
    color: #ffcc66;
    font-family: bobFont;
    width: 15em;
    height: 50px;
    border-width: 5px;
    border-color: #ff3300;
    border-radius:10px;	
    cursor: pointer;
  }

  #generateReceiptButton {
    margin-top: 3em;
    background: #ff3300;
    display: inline-block;
    padding-top: 0.8em;
    color: #ffcc66;
    font-family: bobFont;
    width: 15em;
    height: 50px;
    border-width: 5px;
    border-color: #ff3300;
    border-radius:10px;	
    cursor: pointer;
  }

  #productsList {
    min-width: 20em;
    max-width: 120em;
    min-height: 20em;
    height: 25em;
    margin-top: 5em;
    border: 5px solid #ff3300;
    border-radius: 12px;
    overflow: scroll;
  }

  .product {
    float:left;
  }

  .productDescription{
    display:none;
    background : #ff3300;
    word-wrap: break-word;
    margin-left : 1em;
    color: #ffcc66;
    font-weight: bold;
    border-radius: 12px;
  }

  .productImage:hover + .productDescription {
    display: block;
    margin-top: 1em;
  }

  .productImage{    
    transition: transform .2s;
    cursor: pointer;
    width: 15em;
    height: 15em;
    margin-top: 1em;
    margin-left: 1em;
    border: solid #ff3300;
    border-radius: 12px;
  }

  .productImage:hover{
    transform: scale(1.1);
  }

  #responseField {
    min-height: 20em;
    margin-top: 5em;
    background-color:#ff3300;
    border:solid;
    border:10px;
    border-radius:10px;
  }

  #totalPrice {
    color: #ffcc66;
  }