/*

#e6ac00 -> bg
#806000 -> other

*/  
  
  @font-face {
    font-family: "mainFont";
    src: url("../static/afterclap.otf"); 
  }

  @font-face {
    font-family: "bobFont";
    src: url("../static/nineteeth.otf"); 
  }

  body {
    background-color:#e6ac00;    
  }

  p, span {
    font-family: bobFont;
    font-size: 20px;
    color: #e6ac00;
  }

  .container {
    margin-top: 200px;
  }

  #suggestion{
    border: 2px solid #806000;        
    border-radius: 10px;
    margin-top: -1em;
    margin-bottom: 1em;
    min-height: 5em;
    background: white;
    display: none;
  }

  #suggestionSpan{
    color:#806000;
  }

  #copyrightText{
    font-family: bobFont;
    margin-top: 4em;
    font-size: 25px;
    font-weight: bold;
    color:#806000;
  }

  h1 {
    font-family: bobFont;
    color: #806000;
    margin-top: 10px;
  }
  
  img {
    margin-top: -5em;
  }

  #userInput {
    padding-left: 1em;
    /* margin-top: 1em; */
    font-family: bobFont;
    color: #806000;
    width: 100%;
    height: 2.5em;
    max-height: 5em;
    min-height: 2.5em;
    border: solid;
    border: 20px;
    box-shadow: 5px 5px 8px #666;
    border-radius: 10px;
    resize: vertical;
    line-height: 1.9em;
  }

  #userInput::placeholder {
    line-height: 2.1em;
    font-weight: bold;
    font-family: bobFont;
    color: #806000;    
  }

  #userInput:focus{
    outline: none;
    border: 2px solid #806000;
  }

  #recommendedTopics{
    height: 5em;
    color: #806000;
  }

  .recommendedTopic{
    padding: 0.5em;
    float:left;
    background: #806000;
    color: #e6ac00;
    width: 5em;
    max-height: 5em;
    cursor: pointer;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 1em;
    margin-left: 1em;
  }

  #responseText {
    font-size:20px;
    color:#e6ac00;
    word-wrap: break-word;
    margin-top: 35px;
  }

  #inputBtn {
    background: #806000;
    display: inline-block;
    padding-top: 0.6em;
    color: #e6ac00;
    font-family: bobFont;
    width: 15em;
    height: 50px;
    border: 3.5px solid transparent;
    border-radius: 10px;	
    cursor: pointer;    
  }

  #inputBtn:hover {
    border: 3.5px solid white;
  }

  #generateReceiptButton {
    margin-top: 3em;
    background: #806000;
    display: inline-block;
    padding-top: 0.5em;
    color: #e6ac00;
    font-family: bobFont;
    width: 15em;
    height: 50px;
    border: 3.5px solid transparent;
    border-radius: 10px;	
    cursor: pointer;
  }

  #generateReceiptButton:hover{
    border: 3.5px solid white;
  }

  #productsList {
    min-width: 20em;
    max-width: 120em;
    min-height: 20em;
    max-height: 60em;
    margin-top: 5em;
    border: 2px solid #806000;    
    overflow: scroll;
    scrollbar-color: #806000 #e6ac00;  /* scroll bar, scroll area */
    scrollbar-width:auto;
  }

  .product {
    float:left;
    margin-left: 7em;
  }

  .productDescription{
    display: none;
    background : #806000;
    word-wrap: break-word;
    width: 15em;
    height: 12em;
    margin-left : 1em;
    color: #e6ac00;
    font-weight: bold;
    border-radius: 12px;
  }

  /*.productImage:hover + */.productDescription {
    display: block;
    margin-top: 1em;
  }

  .productImage{    
    transition: transform .2s;
    cursor: pointer;
    width: 15em;
    height: 15em;
    margin-top: 1em;
    margin-left: 1em;
    border: solid #806000;
    border-radius: 12px;
  }

  .productImage:hover{
    transform: scale(1.1);
  }

  #responseField {
    min-height: 20em;
    margin-top: 10px;
    background-color:#806000;
    border:solid;
    border:10px;
    border-radius:10px;
  }

  #totalPrice {
    color: #e6ac00;
  }