<!doctype html>
  <html>
    <head>
      <title>{{ pages[0] }}</title>
      <meta charset='windows-1251'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
      <section class="container">

        <div class="row text-center">
          <div class="col-md-12">  
            <img src="../static/viki_avatar.png" height="162" width="162"/>
            <h1><b>{{ pages[0] }}</b></h1> 
          </div>
        </div>
       
        <div class="row text-center">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="border:none;">            
            <input type="text" name="userInput" id='userInput' autofocus><br><br>   
            <div id="suggestion" class=""><span id="suggestionSpan">Suggestion</span></div>         
            <div>
              
            <div style="border:solid;" id="inputBtn">Talk to Viki</div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        
        <div class="row text-center">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="responseField">
            <p id="responseText"><b>Viki is awaiting your order.</b></p><br><br>
            <hr>
            <span>{{ pages[1] }}</span>
            <p id="accText"><b></b></p>
            <span>{{ pages[2] }}</span><br>
            <p id="totalPrice"></p>    
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>

      <!-- Generate receipt button -->
      <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="generateReceiptButton">Generate receipt</div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p id="copyrightText">&#169; Lyubomir Mihaylov</p>
        </div>
      </div>
      
      </section>
    </body>    

    <script tyle="text/javascript" src="{{url_for('static', filename='requests_logic.js')}}"></script>
    <script>
        // Submit on 'Enter'
        let input = document.getElementById("userInput");

        input.addEventListener("keypress", function(e){
            if (e.key === "Enter") {
                e.preventDefault();
                document.getElementById("inputBtn").click();
            }
        }); 

        // Empty the input field on load/reload.
        $(document).ready(function() {
            $("#userInput").val("");    
        });                    
    </script>
</html>